@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-logo {
  background: url(https://gos3.ibcdn.com/dropdown-nav-1695891258.png)
    var(--xDir) var(--yDir) / 356px 108px no-repeat;
  --xDir: 0%;
  --yDir: 60%;
}

@layer components {
  .nav-item {
    @apply flex w-fit items-center gap-1 relative h-full py-2 px-3 justify-center text-sm hover:bg-slate-200 hover:rounded-md max-lg:px-1 max-sm:flex-col max-sm:gap-0 max-lg:flex-1 ;
  }

  .logo-nav {
    @apply inline-block w-10 h-10  ;
    background: url(https://gos3.ibcdn.com/dropdown-nav-1695891258.png)
      var(--xDir) var(--yDir) / 356px 108px no-repeat;
  }

  .nav-item.active {
    @apply text-[color:var(--skyBlue)];
  }

  .nav-item.active::after {
    @apply content-[""] w-[100%] h-[4px] bg-[color:var(--skyBlue)] absolute rounded-[5px] bottom-[0];
    
  }

  .shadowup{
    box-shadow: -0px -0px 5px 1px ;
  }

}



.logo-flight {
  --xDir: 3%;
  --yDir: 4%;
}
.logo-hotels {
  --xDir: 16%;
  --yDir: 4%;
}
.logo-trains {
  --xDir: 30%;
  --yDir: 3%;
}
.logo-cabs {
  --xDir: 44%;
  --yDir: 3%;
}
.logo-bus {
  --xDir: 58%;
  --yDir: 3%;
}
.logo-trip {
  --xDir: 34.5%;
  --yDir: 56%;
}
.logo-profile{
    --xDir: 44%;
    --yDir: 56%;
}

.user .logout{
  transform: translateX(-110%);
  transition: all ease-in-out 0.2s;
}

.user:hover .logout{
  transform: translateX(0%);
}