@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{

    .inputBox input:focus + label{

        @apply text-[rgb(34,118,227)];

    }
    
    .inputBox input:focus + label.trainLabels{

        @apply text-white;

    }
    

}