.ant-picker-focused {
  background: #1e40af !important ;
  color: white;
}
.ant-picker-suffix {
  color: white !important;
}

.ant-picker-input input::placeholder {
  color: white !important;
}

.ant-pagination-item-active {
  background-color: rgb(224 242 254) !important;
}

.ant-radio-button-wrapper::before {
  display: none !important;
}

